
:root {
    --bg: hsl(0, 0%, 50%);
    --bg-45: hsl(0, 0%, 45%);
    --bg-40: hsl(0, 0%, 40%);

    --l-75: hsl(0, 0%, 75%);
    --l-70: hsl(0, 0%, 70%);
    --l-65-a: hsla(0, 0%, 65%, .3);
    --l-60-a: hsla(0, 0%, 60%, .3);

    --btn-pos-x: 20px;
    --btn-pos-y: 20px;
}
body {
    background-color: var(--bg);
}
#wrapper {
    width: 40%;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 6px;
    border: 4px solid black;
    border-radius: 15px;
    background:
    radial-gradient(var(--bg-40), var(--bg-45), transparent 60%)
    no-repeat fixed 50% 50% / 150px 150px,
    var(--bg);
}
.keywrapper {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}
button {
    width: 20%;
    aspect-ratio: 1;
    flex-grow: 1;
    font-size: 24px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background:
    radial-gradient(var(--l-75), var(--l-70), transparent 60%)
    no-repeat fixed
    var(--btn-pos-x) var(--btn-pos-y) / 150px 150px black;
}
.content {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background:
    radial-gradient(var(--l-65-a), var(--l-60-a), transparent 60%)
    no-repeat fixed var(--btn-pos-x) var(--btn-pos-y) / 150px 150px,
    var(--bg);
}
.eq {
    align-self: stretch;
}
.content span {
    background:
    radial-gradient(var(--l-75), var(--l-70), transparent 60%)
    no-repeat fixed
    var(--btn-pos-x) var(--btn-pos-y) / 150px 150px black;
    color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}